<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>등록 실패</title>
</head>

<body>
    <div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 style="color: red">등록 실패!!!!</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                    onclick="location.href='../'" type="button">홈</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='../form'" type="button">다시 등록</button>
        </div>
    </div>

    </div> <!-- /container -->
</body>
</html>